<div class ="main" align="center">
<h3 class="mat-display-1">User Reviews</h3>

  <mat-grid-list class="mat-list" cols="1" rowHeight="100px">
    <mat-grid-tile *ngFor="let review of reviews">
      <app-review [review]="review"></app-review>
      </mat-grid-tile>
  </mat-grid-list>


  <mat-card class="add-review-card">
    <mat-card-header>

      <mat-card-title>Add Review</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width-field">
          <input matInput placeholder="Your Name" name="name" [(ngModel)]="newReview.name" />
        </mat-form-field>

        <mat-form-field class="full-width-field">
          <textarea matInput placeholder="Your Comment" name="comment" [(ngModel)]="newReview.comment"></textarea>
        </mat-form-field>
      </form>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addReview()" [disabled]="!newReview.comment || !newReview.name">Add</button>
    </mat-card-actions>

  </mat-card>




</div>
